<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{fragments/head :: head-css}"></th:block>
	<title>Patient Details</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: headerNav}"></div>
<div class="container">
	<div class="row">
		<h2>Patient Details</h2>
	</div>

	<div class="row mt-4">
		<div class="col-12">
			<h3>Diabetes Screening :
				<span th:switch="${screening}"> <!-- Thymeleaf Switch pour changer les couleurs -->
                <span th:case="'NONE'" class="badge badge-success">NONE</span>
                <span th:case="'BORDERLINE'" class="badge badge-warning">BORDERLINE</span>
                <span th:case="'IN_DANGER'" class="badge badge-danger">IN DANGER</span>
                <span th:case="'EARLY_ONSET'" class="badge badge-dark">EARLY ONSET</span>
                <span th:case="*" class="badge badge-secondary" th:text="${screening}">UNKNOWN</span>
            </span>
			</h3>
		</div>
	</div>

	<div class="row mt-4">
		<h4>Medical History</h4>
		<ul class="list-group" th:if="${not #lists.isEmpty(notes)}">
			<div class="float-end">
				<a th:href="@{/note/update/{id}(id=${note.id})}" class="btn btn-sm btn-outline-primary">Edit</a>
				<a onclick="return confirm('Are you sure you want to delete this note?');"
				   th:href="@{/note/delete/{id}(id=${note.id})}" class="btn btn-sm btn-outline-danger">Delete</a>
			</div>
			<li class="list-group-item text-dark" th:each="note : ${notes}"> <!-- Boucle sur les notes du patient -->
				<strong th:text="${note.date}">Date</strong> - <strong th:text="${note.title}">Title</strong>
				<p th:text="${note.content}">Content...</p>
			</li>
		</ul>
		<div class="alert alert-info mt-2" th:if="${#lists.isEmpty(notes)}">
			No notes available for this patient.
		</div>
	</div>

	<div class="row mt-5">
		<h4>Add a New Note</h4>

		<!-- error message -->
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMessage}">
			<span th:text="${errorMessage}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<!-- success message -->
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMessage}">
			<span th:text="${successMessage}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<form action="#" class="form-horizontal" method="post" style="width: 100%"
		      th:action="@{/note/add}" th:object="${newNote}">

			<input type="hidden" th:field="*{patientId}">
			<input type="hidden" th:value="${patient.firstname + ' ' + patient.lastname}" name="patientName">

			<div class="form-group mt-3">
				<label for="title">Title</label>
				<input class="form-control" id="title" placeholder="Enter note title..." th:field="*{title}" type="text">
			</div>

			<div class="form-group mt-3">
				<label for="content">Doctor's Notes <span class="text-danger">*</span></label>
				<textarea class="form-control" id="content" rows="4" placeholder="Type observations here..." th:field="*{content}" required></textarea>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" th:href="@{/patient/list}">Back to List</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Save Note">
				</div>
			</div>
		</form>
	</div>
</div>
<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>